<h1>Signup</h1>
<form method="post" action="/signup">
  <div>
    <input type="text" name="username" placeholder="Enter your username" />
  </div>
  <div>
    <input type="password" name="password" placeholder="Enter your password" />
  </div>
  <div>
    <input
      type="password"
      name="passwordConfirm"
      placeholder="confirm your password"
    />
  </div>
  <button>Signup</button>
</form>
<br />
<a href="/"><button>Go home</button></a>