<h1>Signup</h1>
<form method="post" action="/auth/signup">
  <div>
    <input type="email" name="email" placeholder="Enter your email" />
  </div>
  <div>
    <input type="password" name="password" placeholder="Enter your password" />
  </div>
  <div>
    <input
      type="passwordConfirm"
      name="passwordConfirm"
      placeholder="confirm your password"
    />
  </div>
  <button>Signup</button>
</form>
<br />
<a href="/"><button>Go home</button></a>